.about-block {
  padding-bottom: 40px;

  .glance {
    border: 1px solid #eee;
    padding: 20px;

    @include media-breakpoint-down(md){
      margin-bottom: 30px;
    }

    strong {
      font-size: 18px;
    }

    .fa {
      font-size: 20px;
      margin-right: 4px;
      color: #3e3e3e;


      &.fa-map-marker {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
}