.contact-block {
  padding: 40px;

  p {
    margin: 0;
  }

  .wpcf7-form {

    .wpcf7-form-control-wrap {
      input {
        height: 40px;
        margin: 0 0 30px 0;
        padding: 5px;
        width: 100%;
      }
    }

    .message {
      display: block;

      .wpcf7-textarea {
        width: 100%;
        padding: 5px;
        margin: 0 0 30px 0;
      }
    }

    .wpcf7-submit {
      background-color: #1E1E1E;
      border: none;
      color: #FFFFFF;
      width: 50%;
      height: 50px;
      float: right;
      font-size: 20px;
      min-width: 255px;
    }

    .wpcf7-not-valid-tip {
      margin-top: -30px;
      margin-bottom: 30px;
    }

    .wpcf7-validation-errors {
      max-width: 1110px;
      margin: 30px auto 0;
    }
  }
}