.main-nav {
  height: 60px;

  @include media-breakpoint-down(md){
    position: fixed;
    top: 0;
    right: -100%;
  }

  .fa-times {
    display: none;
  }

  .menu-header-menu-container {
    height: 100%;
    display: none;

    @include media-breakpoint-up(md){
      display: block;
    }

    #menu-header-menu {
      list-style-type: none;
      margin-bottom: 30px 0;
      padding-left: 0;

      @include media-breakpoint-up(lg){
        display: flex;
        flex-direction: row;
        height: 100%;
        margin-top: 0;
      }

      li {
        height: 100%;

        a {
          font-size: 16px;
          padding: 20px 25px 8px 25px;
          display: block;
          height: inherit;
          font-weight: 500;
          color: #FFFFFF;


          @include media-breakpoint-up(lg){

            &:hover {
              border-bottom: 4px solid #0077A8;
              text-decoration: none;
              -webkit-transition: 200ms ease-out;
              -ms-transition: 200ms ease-out;
              transition: 200ms ease-out;
            }
          }

          &:after {
            @include media-breakpoint-down(md) {
              content: "\f054";
              font: normal normal normal 14px/1 FontAwesome;
              float: right;
              margin-top: 3px;
            }
          }
        }

        .first-menu-item {
          @include media-breakpoint-down(md) {
            margin-top: 30px;
          }
        }
      }
    }

    @include media-breakpoint-down(sm) {
      &.visible {
        position: fixed;
        top: 42px;
        right: 0;
        height: calc(100% - 42px);
        width: 90%;
        background-color: #ffffff;

        #menu-header-menu {
          padding-left: 0;
        }
      }
    }
  }


  @include media-breakpoint-down(md) {
    &.visible {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 90%;
      background-color: rgba(65, 61, 53, 0.99);;
      -webkit-transition: 600ms ease;
      -ms-transition: 600ms ease;
      transition: 600ms ease;

      .mob-menu {
        color: #000000;
      }

      .menu-header-menu-container {
        display: block;
      }

      .fa-times {
        display: block;
        padding: 4px 8px 16px;
        font-size: 32px;
        text-align: right;
        cursor: pointer;
        color: #ffffff;
      }
    }
  }
}

header {

  &.white {

    #menu-header-menu {

      li {

        a {
          color: #FFFFFF;
        }
      }
    }

    .mob-menu {
      color: #000000;
    }
  }
}

header {
  .menu-ros {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    display: none;

    &.visible {
      display: block;
    }
  }

  .mob-menu {
    color: #FFFFFF;
    font-size: 2.25rem;
    cursor: pointer;
    text-align: right;
    display: none;
    height: 42px;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &.white {
    .menu-header-menu-container {
      li {
        a {
          @include media-breakpoint-up(lg) {
            color: #000000 !important;
          }
        }
      }
    }
  }
}
